body {
    background-color: lightblue;
    background-size: cover;
    position: relative;
}
.bodyet {
    margin-left: 400px;
}
h1 {
    color: lightcyan;
}
.erdusej {
    color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}
.aboutm {
    font-style: italic;
}
.Header{
    color: lightgray;
}
button {
    border:2px solid lightgray;
    background-color: lime;
    color: red;
    padding: 3px, 5px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px auto;
    height: 100vh;
    grid-template-areas: 
    "Overskrift Overskrift"
    "omMig heybuddy";
}
.Overskrift {
    -ms-grid-row-span: 1/2;
}
.heybuddy {
    grid-area: heybuddy;
}

